language: generic

matrix:
  include:
    - os: linux
      sudo: required
      env: PYTHON_VERSION=python3
    - os: osx
      osx_image: xcode11
      env: PYTHON_VERSION=python3

env:
  global:
    - PB_VERSION=2.6.1

before_install:
  - ./travis/before_install.sh

install:
  - ./travis/install.sh

script:
  - ./travis/script.sh

after_success:
  - ./travis/after_success.sh

after_failure:
  - ./travis/after_failure.sh

cache:
  - timeout: 300
  - directories:
    - $HOME/.ccache
    - $HOME/.cache/pb
